@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2e2e2e;
}

header {
  background-color: #88dfff;
  padding: 10px;
}

header h1 {
  color: #2e2e2e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}